{$APP_URL:http://localhost} {
  encode zstd gzip

  handle /api/* {
    reverse_proxy api:3001
  }

  handle /webhooks/* {
    reverse_proxy api:3001
  }

  handle /health {
    reverse_proxy api:3001
  }

  handle {
    reverse_proxy web:80
  }
}

{$POSTA_PUBLIC_URL:http://localhost:9000} {
  encode zstd gzip
  reverse_proxy posta:9000
}
